<!DOCTYPE html>
<html ng-app="quotesApp" lang="en">
<head>
  <meta charset="utf-8">
  <title>Inspirational Quotes</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.9/ngStorage.min.js"></script>
</head>

<body ng-controller="mainController">

<div>

	<input ng-model="author">
		<textarea ng-model="saying"></textarea>
			<button ng-click="submit()">Submit</button>


</div>

	<div class="texts" ng-repeat="quote in quotes" ng-click="delete($index)">
	<h1>{{quote.author}}</h1>
	<h2>{{quote.saying}}</h2>

	</div>


	<script src="main.js" type="text/javascript"></script>
</body
</html>
